<!DOCTYPE html>
<html lang="en">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Diagnosis Prediction</title>
      <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    </head>

    <body>
      <div class="header">
        <h1>Image Classifier</h1>
      </div>
      
      <!-- Animated Background -->
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      
      <form action="/", method="post" enctype="multipart/form-data">
        <div class="file-upload">
          <div class="animated-background-wrap">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
          </div>
            <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" type="file" name="imagefile"/>
            <div class="drag-text">
              <h3>Drag and drop a file or select add Image</h3>
            </div>
          </div>

          <div class="file-upload-content">
            <div class="animated-background-wrap">
              <img class="file-upload-image" src="#" alt="your image" name="imagefile"/>
              <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
              </div>
              <div class="image-title-wrap">
                <input class="predict-image" type="submit" value="Predict">
              </div>
            </div>
          </div>
        </div>
      </form>

      <!--Partial -->
      <script  src="/static/styles/script.js"></script>


      <div class="predict">
        <div class="animated-background-wrap">
          <p>{% if prediction %}
          {{prediction}}
          {% endif %}</p>
        </div>
        
        <p>{% if prediction %}
          <div class="header">
            <br>
            <h4>Here are some references:</h4>
          </div>
          {% endif %}</p>

        <div class="animated-background-wrap">
        
            <p>{% if scholar1 %}
              {{scholar1}}
              {% endif %}</p>

            <p>{% if scholar2 %}
              {{scholar2}}
              {% endif %}</p>

            <p>{% if scholar3 %}
              {{scholar3}}
              {% endif %}</p>

        </div>
      </div>
    </body>
</html>