<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Diagnosis Prediction</title>
      <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    </head>

    <body>
      <div class="hero">
        <h1 class="p-3 text-center">Image Classifier</h1>
        <form class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
          <input class="form-control" type="file" name="imagefile" >
          <input class="btn btn-primary mt-3" type="submit" value="Predict Image">

        {% if prediction %}
          <p class="text-center">Prediction: {{prediction}}</p>
        {% endif %}
      </div>
    </body>
</html>